<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gustavioandroidstudio">

    <!-- Permiso para acceso a Internet -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <!-- Pantalla de Review (reseñas) -->
        <activity
            android:name=".ReviewActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <!-- Pantalla principal de la app -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Otras actividades registradas -->
        <activity
            android:name=".PaginaPrincipal"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name=".LoginActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name=".RegisterActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name=".PaginaUsuario"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name=".BuscarJuegosActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name=".GamesActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:exported="true"/>

        <activity
            android:name=".GameDetailActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:exported="true"/>

    </application>

</manifest>
